<div ng-controller='OpenThreadController'>
	<button ng-click='go()'> Post a New Thread </button>
	<div class='container'>
		<div class='thread' ng-repeat='entry in threads'>
			<div class='username'> Username: {{entry.username}} </div>
			<div> Subject: {{entry.subject}} </div>
			<div> Text: {{entry.body}} </div>
			<div> Bounty: {{entry.bounty}} </div>
			<p> {{entry._id}} </p>
			<button ng-click='closeThread(entry)'> Close Thread </button>
			<button ng-click='reveal(entry.priv_key)'> Claim Bounty </button>
		</div>
	</div>
</div>